@using Mission8.Models
@model List<TaskItem>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="border border-4">
            <h4 class="text-center fw-bold"> Quadrant 1: Important / Urgent</h4>

             @foreach (var task in Model.Where(t => t.Quadrant == 1 && t.Completed == false))
             {
                <div>
                    <strong>@task.TaskName</strong>
                    <a asp-action="Edit" asp-route-id="@task.TaskId">Update</a>
                    <a asp-action="Delete" asp-route-id="@task.TaskId">Delete</a>
                </div>
             }
             </div>    
        </div>

        <div class="col-md-6">
            <div class="border border-4"> 
            <h4 class="text-center fw-bold"> Quadrant 2: Important / Not Urgent</h4>
             @foreach (var task in Model.Where(t => t.Quadrant == 2 && t.Completed == false))
             {
                <div>
                    <strong>@task.TaskName</strong>
                    <a asp-action="Edit" asp-route-id="@task.TaskId">Update</a>
                    <a asp-action="Delete" asp-route-id="@task.TaskId">Delete</a>
                </div>
             }
             </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="border border-4">
            <h4 class="text-center fw-bold"> Quadrant 3: Not Important / Urgent</h4>
            @foreach (var task in Model.Where(t => t.Quadrant == 3 && t.Completed == false))
            {
                <div>
                    <strong>@task.TaskName</strong>
                    <a asp-action="Edit" asp-route-id="@task.TaskId">Update</a>
                    <a asp-action="Delete" asp-route-id="@task.TaskId">Delete</a>
                </div>
            }
        </div>
        
        <div class="col-md-6">
            <div class="border border-4">
            <h4 class="text-center fw-bold" > Quadrant 4: Not Important / Not Urgent</h4>
            @foreach (var task in Model.Where(t => t.Quadrant == 4 && t.Completed == false))
            {
                <div>
                    <strong>@task.TaskName</strong>
                    <a asp-action="Edit" asp-route-id="@task.TaskId">Update</a>
                    <a asp-action="Delete" asp-route-id="@task.TaskId">Delete</a>
                </div>
            }
            </div>
        </div>
    </div>
</div>